{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}


   {% block body %}
       {% include 'navbar/index.html.twig' %}


       <div class="container p-2  m-2 border-start border-bottom border-black  border-4">
           <div class="row align-items-start">
               <div class="col">
                   <div>
                       <strong>{{ profile.username }}</strong>
                   </div>
                   <div>
                       <strong>{{ profile.email }}</strong>
                   </div>
               </div>
       </div>

   {% endblock %}

