{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}


   {% block body %}
       {% include 'navbar/index.html.twig' %}
       <div class="container-fluid  p-2  m-2 border-start border-bottom border-black  border-4 w-25 ">
           <strong>Name:</strong> {{ profile.username }}
           <div>
           <strong>Email:</strong> {{ profile.email }}
           </div>
       </div
   {% endblock %}

