{% extends 'base.html.twig' %}

{% block title %}Hello FriendsController!{% endblock %}

{% block body %}
    {% include 'navbar/index.html.twig' %}
<body>
{% for notice in app.flashes('success') %}
    <div class="alert alert-primary" role="alert">
    {{ notice }}
    </div>
{% endfor %}

</body>
{% endblock %}