{% extends 'base.html.twig' %}

{% block title %}Hello FriendsController!{% endblock %}

{% block body %}
    {% include 'navbar/index.html.twig' %}
<body>
<div class="container d-flex justify-content-end p-3">
    <div class="border-start p-3 text">
        <h5>Friends</h5>
        {% for friends in friends %}
            <p>{{  friends.username }}</p>
        {% endfor %}
    </div>
</div>
</body>
{% endblock %}