{% extends 'base.html.twig' %}

{% block title %}Hello FriendsController!{% endblock %}
{% block body %}
    {% include 'navbar/index.html.twig' %}
    {% for notice in app.flashes('success') %}
        {{ notice }}
    {% endfor %}
    <div class="container d-flex justify-content-end p-3 overflow-y-scroll" style="height: 400px">
        <div class="border-start p-3 text">
            <h5>Friends</h5>
            <br>
            {% for friendData in friends %}
                <p>
                    {{ friendData.friends }}
                </p>
            {% endfor %}
        </div>
    </div>
{% endblock %}