{% extends 'base.html.twig' %}

{% block title %}Hello StarterPageController!{% endblock %}

{% block body %}
    {% include 'navbar/index.html.twig' %}
    {% block stylesheets %}
        {{  parent() }}
        {{ encore_entry_link_tags('startPagestyle') }}

    {% endblock %}

    {% if not app.user %}


    {% endif %}
<div class="container">
    <div class="row">
        <div class="col-8 content " >
            <p>GET YOUR TRAINING TO ANOTHER LEVEL !</p>
        </div>
        <div class="col-4 " ></div>
    </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-8 content">
                <p>GET YOUR TRAINING TO ANOTHER LEVEL !</p>
            </div>
            <div class="col-sm-4">  <p>GET YOUR TRAINING TO ANOTHER LEVEL !</p></div>
        </div>
        <div class="row">
            <div class="col-sm">  <p>GET YOUR TRAINING TO ANOTHER LEVEL !</p></div>
            <div class="col-sm">  <p>GET YOUR TRAINING TO ANOTHER LEVEL !</p></div>
            <div class="col-sm">  <p>GET YOUR TRAINING TO ANOTHER LEVEL !</p></div>
        </div>
    </div>
{% endblock %}
