{% extends 'base.html.twig' %}

{% block title %}Hello StarterPageController!{% endblock %}

{% block body %}
    {% include 'navbar/index.html.twig' %}
    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('startPagestyle') }}

    {% endblock %}

    <style>
        body {
            background-image: url("{{ asset('storage/bear logo who t 1.jpg') }}");
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
    <div class="container">
        <div class="row ">
            <div class="col-8 content  m-3 ">
                CREATE TRAINING WITH YOUR PARTNER !
            </div>
            <div class="col-8 content  m-3">
                ADD FRIENDS AND SEND MESSAGES !
            </div>
            <div class="col-8 content  m-3">
                CREATE COLLABORATIVE PROJECTS !
            </div>
        </div>
    </div>

{% endblock %}
