body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0.936186974789916) 0%, rgba(9,9,121,1) 42%, rgba(1,81,97,0.9810049019607843) 100%);
    font-family:Bebas Neue,'cursive';
}

p{
    color: white;
}

.card-body{
    background-color: black;
}

.card{
    border: 0;

}

.statistics{
    flex-direction: row;
}

#friendsDiv{
    border: 1px solid #0D0000;
    background: linear-gradient(19deg, rgb(240 240 239 / 13%) 21.65%, rgb(255 246 246) 100%);
    box-shadow: 5px 5px 5px 0px rgba(4, 0, 0, 0.65) inset;
    /* width: 200px; */
    height: 86vh;
}


