
{% block body %}
    {% include 'navbar/index.html.twig' %}

    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Add</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td><button class="btn btn-success">+</button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
